<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeliciousBite</title>
</head>
<body>

    <h1>DeliciousBite Menu</h2>

    {% for course in courses %}        
        <!-- access the second item of the course tuple '.1' (the user readable one) -->
        <h2> {{ course.1 }} </h2>
        <ul>
            <!-- loop through the list of objects, where 'menu_list' is the context variable name specified in the context_object_name attribute of the view. Each item represents a row in the database -->
            {% for item in menu_list %}
                {% if item.course == course.0 %}
                    <li>
                        <h3>
                            {% if item.status %}
                                <!-- redirect to the'menu_item_detail' view while passing the argument pk = item.pk -->
                                <a href="{% url 'menu_item_detail' item.pk %}"><h3>{{ item.meal }}</h3></a>   
                            <!-- if item.status ==0 add a <del> tag which is a line-through text-decoration -->
                            {% else %}
                                <a href="{% url 'menu_item_detail' item.pk %}"><h3><del>{{ item.meal }}</del></h3></a>                                
                            {% endif %}
                        </h3>
                        <p>{{ item.description }}</p>
                        <p>{{ item.price }}</p>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
    
</body>
</html>