{% extends 'Menu/base.html' %}

{% block content %}
    
    <h1 class="py-5">Menu Item Details: </h1>
    <!-- access the attributes of the MenuItem instance using the lowercase model name which is 'menuitem'. The default context variable name for the instance is 'object', so we can use 'object' to refer to the instance in this template (like `menuitem.meal`). -->
    <ul class="list-group list-group-flush">
        <liclass="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
            <p>Meal: <strong>{{ menuitem.meal }}</strong></p>
        </li>
        <liclass="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
            <p>Description: <strong>{{ menuitem.description }}</strong></p>
        </li>
        <liclass="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
            <p>Price: <strong>{{ menuitem.price }}</strong></p>
        </li>
        <liclass="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
            <p>Chef: <strong>{{ menuitem.chef }}</strong></p>
        </li>
        <liclass="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
            <p>Added on: <strong>{{ menuitem.date_created }}</strong></p>
        </li>
    </ul>
  
{% endblock %}